.<template>
  <div class="">
    <h1>{{titulo}}</h1>
    <img :src="imagen" alt="">
    <p>{{descripcion}}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eveniet dolores facilis nulla esse totam autem reprehenderit eligendi voluptates nemo quod optio, est sit, quibusdam laudantium similique exercitationem! Fugit, consequatur?</p>
    <button @click="respPadre(titulo)">CLICKME!</button>
  </div>
</template>

<script>
export default {
    props: {
        titulo: String,
        descripcion: String,
        imagen: String
    },
    methods: {
        respPadre(data){
            this.$emit("alerta",`Hola soy ${data}`)
        }
    }
};
</script>

<style>

</style>