<template>
  <div :class="main">      
      <button @click="changeColor()" type="button">{{entradatxt}}</button>      
      <h2 v-bind:class="classprueba" v-text="texto"></h2>
      <p v-html="htmltext"></p>
      <input type="var" v-model="entradatxt">
      <br>
      <img v-bind:src="img" alt="">
      <br>
      <br>
      <button @click="incremCont()">Click! {{contador}}</button>
      <input type="text" @keypress="pressTecla()" v-model="inputEvent">
      <select @change="cambiarColor()" v-model="colorcont">
        <option value="contenedor verde">verde</option>
        <option value="contenedor rojo">rojo</option>
        <option value="contenedor amarillo">amarillo</option>
        <option value="contenedor azul">azul</option>
      </select>
      <div :class="contenedor"> </div>
      <br>
      <br>
      <form @submit="sendForm()">
        <input type="text" v-model="inputForm">
        <input type="submit" value="Enviar">
      </form>
      <br>
      <br>
      <input type="text" @input="cambiarParrafo()" v-model="inputForm">
      <p>{{parrafo}}</p>

      <div :class="contenedor2">
        <p>{{mensaje}} {{texto}}</p>
        <p>{{textoCompleto}}</p>
        <time>{{now.toLocaleDateString()}}</time>

        <input type="text" v-model="texto">
        <br>
        <select name="" id="" v-model="selector">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <br>
        <br>
        <button @click="openDoor=!openDoor">Click!</button>     
        <br>
        <br>
        <img v-if="openDoor" src="https://picsum.photos/id/870/200/300?grayscal" alt="">   
        <img v-else src="https://picsum.photos/200/300/" alt="">   
        <br>
        <br>
        <p v-for="(color,index) in colores" :key="index">
         {{color}}
        </p>
      </div>
      <br>
      <br>
      <new-component :titulo="'imagen1'" :descripcion="'Descr'" :imagen="'https://picsum.photos/id/237/200/300'"
      @alerta="alertar"/>
      
      
  </div>  
</template>

<script>
import NewComponent from './components/NewComponent.vue'

export default{
  components: { NewComponent },
  name:"App",
  data(){
    return{
      mensaje:'Hi Vue',
      texto: 'World',
      htmltext: '<a href="https://tinyurl.com/5n9xz59m">¡¡¡Haga click!!!</a>',
      entradatxt: "Texto: ",
      img: "https://picsum.photos/seed/picsum/200/300",
      classprueba: 'texto-azul',
      var: 'select',      
      colores: ['blue','yellow','green','white','black'],
      contador: 0,
      inputEvent:"",
      contenedor: "contenedor azul",
      colorcont: "contenedor verde",
      main: "main amarillo",
      inputForm: "",
      parrafo: "",
      now: new Date(),
      selector: "",
      openDoor: false,
      contenedor2: "cerrado"
    }
  },
  methods:{
    changeColor: function(){
      const indice=parseInt(Math.random*this.colores.length)
      this.main=this.colores[indice]      
    },
    incremCont: function(){
      this.contador++  
    },
    pressTecla: function(){
      alert(this.inputEvent)
    },
    cambiarColor: function(){
      this.contenedor=this.colorcont
    },
    sendForm: function(){
      //console.log(e)
      // alert(this.inputForm)
      this.parrafo=this.inputForm
    },
    cambiarParrafo: function(){
      this.parrafo=this.inputForm
    },
    alertar(data){
      alert(data)
    }
  },
  computed:{
    textoCompleto(){
      return this.mensaje+' '+this.texto
    }
  },
  watch:{
    selector(value,old){
      console.log('cambio',value,'-',old)
    },
    openDoor(value){
      value ? this.contenedor2='abierto': this.contenedor2='cerrado'
    }
  }
}
</script>

<style>
.texto-azul{
  color: blue;
}
.texto-rojo{
  color: red;
  background-color: black;
}
.contenedor{
  width: 100px;
  height: 100px;
 
}
.verde{
  background-color: green;
}
.rojo{
  background-color: red;
}
.amarillo{
  background-color: yellow;
}
.azul{
  background-color: blue;
}
.cerrado{
  background-color: rgb(233, 19, 19);
  padding: 10px;
  border: 5px solid black;
}
.abierto{
   background-color: rgb(130, 240, 144);
  padding: 10px;
  border: 5px dotted rgb(0, 0, 0);
}
</style>
